body{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	background: #f5f5f5;
}
section{
	position: relative;
}
#menunav{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: white;
	text-align: center;
	list-style: none;
	top: 0;
	z-index: 99;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
#menunav table{
	border: none;
	width: 100%;
	height: 100%;
}
#menunav table td{
	border: none;
	width: 100%;
	height: 100%;
}

.menu_btn{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color: #165F30;
	text-decoration: none;
}
.menu-item{
	margin: 11px 0px;
}
.menu-subitem{
	display: inline-block;
	margin: 0px 40px;
	margin-top: 93px;
}
.menu-subitem a{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300 !important;
}
.active{
	text-decoration: underline;
}

/*FLECHA ARRIBA PRESET*/
.subir{
	position: absolute;
	top: 70px;
	height: 30px;
	width: 100%;
	text-align: center;
}
.flechcont_subir{
	position: relative;
	height: 30px;
	width: 0px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    margin: 0 auto;
    padding: 0;
}
.subir a{
	padding: 20px;
	color:#D0D0D0;
	padding: 15px;
	text-decoration: none;
}
/*FLECHA ARRIBA PRESET*/

/*FLECHA ABAJO PRESET*/
.bajar{
	position: absolute;
	bottom: 70px;
	height: 30px;
	width: 100%;
	text-align: center;
}
.flechcont_bajar{
	position: relative;
	margin: 0 auto;
	height: 30px;
	width: 0px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin: 0 auto;
    padding: 0;
}
.bajar a{
	padding: 20px;
	text-decoration: none;
	color:#D0D0D0;
}
.icoflecha{
	font-size: 30px;
}
/*FLECHA ABAJO PRESET*/


/* HOME */
#inicio{
	background: url(../assets/vetelia-bg.jpg);
	background-size: cover;
}
#inicio{
	text-align: center;
}
#logo{
	position: relative;
	width: 80%;
	max-width: 500px;
	min-width: 150px;
}
/* HOME */


/* BOTON PRESET */
.btn-box{
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	top: 35px;
	left: 50px;
	border:solid 2px #165F30;
	width: 105px;
	height: 35px;
	z-index: 1;
	text-align: center;
}
.btn-box a{
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color: #165F30;
	text-decoration: none;
	top: 5px;
}
.btn-box:hover{
	text-align: center;
}
.txt-btn{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700 !important;
	letter-spacing: 1px;
	font-size:16px;
	z-index: -1;
}
.ico{
	display: inline;
	margin-right: 15px;
}
/* BOTON PRESET */
