body{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	background: #f5f5f5;
}
section{
	position: relative;
}
.slide{
	position: relative;
}

#menunav{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: white;
	text-align: center;
	list-style: none;
	top: 0;
	z-index: 99;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
#menunav table{
	border: none;
	width: 100%;
	height: 100%;
}
#menunav table td{
	border: none;
	width: 100%;
	height: 100%;
}

.menu_btn{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color: #165F30;
	text-decoration: none;
}
.menu-item{
	margin: 11px 0px;
}
.menu-subitem{
	display: inline-block;
	margin: 0px 40px;
	margin-top: 93px;
}
.menu-subitem a{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300 !important;
}
/*
.active{
	text-decoration: underline;
}
*/

.logo_verde{
	position: absolute;
	bottom: 75px;
	width: 100%;
	text-align: center;
}
.logo_verde img{
	width: 200px;
}

/*FLECHA ARRIBA PRESET*/
.subir{
	position: absolute;
	top: 70px;
	height: 30px;
	width: 100%;
	text-align: center;
	z-index: 9999;
}
.flechcont_subir{
	position: relative;
	height: 30px;
	width: 0px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    margin: 0 auto;
    padding: 0;
}
.subir a{
	padding: 20px;
	color:#D0D0D0;
	padding: 15px;
	text-decoration: none;
}
/*FLECHA ARRIBA PRESET*/

/*FLECHA ABAJO PRESET*/
.bajar{
	position: absolute;
	bottom: 70px;
	height: 30px;
	width: 100%;
	text-align: center;
	z-index: 9999;
}
.flechcont_bajar{
	position: relative;
	margin: 0 auto;
	height: 30px;
	width: 0px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin: 0 auto;
    padding: 0;
}
.bajar a{
	padding: 20px;
	text-decoration: none;
	color:#D0D0D0;
}
.icoflecha{
	font-size: 30px;
}
/*FLECHA ABAJO PRESET*/


/* HOME */
#inicio{
	background: url(../assets/vetelia-bg.jpg);
	background-size: cover;
}
#inicio{
	text-align: center;
}
#logo{
	position: relative;
	width: 80%;
	max-width: 500px;
	min-width: 150px;
}
/* HOME */

/* ABOUT US */
/* Slider page #1 */
.image-slide-one{
	position: absolute;
	z-index: 2;
	width: 70%;
	bottom: 0px;
	left: 0px;
}
.image-slide-one img{
  	position: relative;
  	width: 750px;
}
.txt-slide-one{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none !important;
	position: absolute;
	z-index: 3;
	width: 20%;
	max-width: 450px;
	min-width: 380px;
	text-align: justify;
	right: 6%;
  	top: 150px;
  	color: #165F30;
  	background-color: rgba(255,255,255,0.5);
}
.txt-slide-one h3{
	font-size: 45px;
  	font-weight: 200;
  	font-style: italic;
  	margin: 0px 0px 10px 0px;
  	width: 100px;
}
.txt-slide-one p{
	font-weight: 300;
}
.bar-slide-one{
	width: 100%;
	height: 6px;
	background-color: #165F30;
}
/* Slider page #1 */

/* Slider page #2 */
.image-slide-two{
	position: absolute;
	z-index: 2;
	width: 70%;
	top: 50px;
	right: 0px;
	text-align: right;
}
.image-slide-two img{
  	position: relative;
  	width: 750px;
}
.txt-slide-two{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none !important;
	position: absolute;
	z-index: 3;
	width: 20%;
	max-width: 450px;
	min-width: 380px;
	text-align: justify;
	left: 6%;
  	top: 300px;
  	color: #165F30;
  	background-color: rgba(255,255,255,0.5);
}
.txt-slide-two h3{
	font-size: 45px;
  	font-weight: 200;
  	font-style: italic;
  	margin: 0px 0px 10px 0px;
  	width: 100px;
}
.txt-slide-two p{
	font-weight: 300;
}
.quote-slide-two{
	position: absolute;
	width: 100%;
	bottom: 240px;
}
.quote-slide-two p{
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 20px;
	width: 80%;
	max-width: 700px;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: right;
	color: #165F30;
	right: 50px;
}
/* Slider page #2 */

/* Slider page #3 */
.half-inleft-cont{
	position: absolute;
	width: 350px;
	height: 300px;
	top: 50px;
	right: 50px;
}
.half-inright-cont{
	position: absolute;
	width: 350px;
	height: 300px;
	top: 50px;
	left: 50px;
}
.half-top{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	width: 100%;
	height: 30%;
}
.half-top h3{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	color: #165F30;
	font-size: 30px;
	font-weight: 200;
	font-style: italic;
}
.half-inleft{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
}
.half-inright{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	float: right;
	width: 50%;
	height: 100%;
}
.half-bottom{
	position: relative;
	width: 100%;
	height: 70%;
	text-align: center;
}
.half-bottom-title{
	position: relative;
	margin: 0 auto;
	width: 480px;
	text-align: left;
}
.half-bottom-title h3{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	color: #165F30;
	font-size: 30px;
	font-weight: 200;
	font-style: italic;
}
.bar-slide-three{
	width: 100%;
	height: 6px;
	background-color: #165F30;
}
table{
	position: relative;
	width: 100%;
	margin: 0 auto;
	border: none;
}
.objt{
	position: relative;
	height: 200px;
	width: 300px;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	color: #282828;
	border: none;
}
.objt img{
	position: relative;
	margin: 0 auto;
	width: 120px;
}
.objt p{
	width: 200px;
	text-align: justify;
	font-weight: 300;
}
.objt-in{
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}


/* Slider page #3 */

/* ABOUT US */

/* MENÚ BOTON PRESET */
.btn-box{
	position: fixed;
	font-family: 'Source Sans Pro', sans-serif;
	top: 35px;
	left: 50px;
	border:solid 2px #165F30;
	width: 105px;
	height: 35px;
	z-index: 1;
	text-align: center;
}
.btn-box a{
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color: #165F30;
	text-decoration: none;
	top: 5px;
}
.btn-box:hover{
	text-align: center;
}
.txt-btn{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700 !important;
	letter-spacing: 1px;
	font-size:16px;
	z-index: -1;
}
.ico{
	display: inline;
	margin-right: 15px;
}
/* MENÚ BOTON PRESET */

/* PRODUCTOS */
#productos{
	background: url('../assets/products_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#productos > .fp-slidesNav{
	display: none;
}

#product_info{
	position: relative;
  width: 45%;
  display: inline-block;
  left: 0px;
  padding: 0px 70px;
  top: 20px;
}
#white_line{
	position: relative;
	border-bottom: solid #fff 3px;
	width: 50%;
	margin-top: 15px;
}
#product_description{
	  padding: 10px 15px 0px 0px;
}
#product_description p{
	color: #fff;
	font-family: 'IM Fell Great Primer', serif;
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 22px;
	text-align: justify;
}
#product_nav a{
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	margin: 30px 50px 0px 0px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
#product_nav a:hover{
	color: #2c1f0d;
}

#product_buy{
 width: 90%;
  text-align: center;
  margin-top: 50px;

}

.buy_button{
	font-family: 'Source Sans Pro', sans-serif;
	padding: 10px 50px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	background-color: #C08132;
	  z-index: 10;
	-webkit-transition: all 0.5s ease-in-out, color 0.3s 0.3s;
  -moz-transition: all 0.5s ease-in-out, color 0.3s 0.3s;
  -o-transition: all 0.5s ease-in-out, color 0.3s 0.3s;
  transition: all 0.5s ease-in-out, color 0.3s 0.3s;
}

.buy_button:hover{
  box-shadow: -300px 0 0 0 rgba(255, 255, 255, 0.9) inset;
  padding: 10px 50px;
  color: #C08132;
}

.product_button{
	border: solid #fff 3px;
	padding: 5px 10px;
	letter-spacing: 2px;
	background: transparent;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.product_button:hover{
	border: solid #fff 3px;
	padding: 5px 10px;
	background: #fff;
}
.no_lh{
	line-height: 10px !important;
}

#logo_footer{
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 10px;
	left: 0px;
	text-align: center;
	z-index: -1;
}

#logo_footer img{
	width: 10%;
}
	
	/* ESTILOS DENTRO DE LOS SLIDERS DE PRODUCTOS */
	.panes{
		margin: 0px;
		padding: 0px;
		height: 70%;
	}
	.tabs{
		margin: 0px;
		padding: 0px;
	}
	.tabs li{
		margin: 0px;
		padding: 0px;
	}
	.tabs_slide{
		width: 100%;
		height: 100%;
	}
	.slide_row{	
		position: relative;
		width: 100%;
	}
	.row1{
		height: 15%;
		background:#fff;
	}	
	.row2{
		height: 15%;
		background:#E9E8E8;
	}	
	.row3{
		height: 50%;
		background:#D8D8D8;
	}
	.row4{
		height: 50%;
	}
		#gray{
			background: #979797;
		}
		#orange{
			background: #C08132;
		}
		#green{
			background: #2D3621;
		}
		#black{
			background: #141414;
		}
		#dark_gray{
			background: #232323;
		}
		#light_orange{
			background: #C08132;
		}

		.row4_left{
			float: left;
			left: 0px;
			position: relative;
			width: 50%;
			height: 100%;
		}
		.row4_right{
			display: inline-block;
			position: relative;
			width: 50%;
			height: 100%;
		}	
	/* ESTILOS DENTRO DE LOS SLIDERS DE PRODUCTOS */

/* PRODUCTOS */

/* MEDIA QUERY DE 1920px HACIA ARRIBA */
@media (min-width: 1920px){

	/* PRODUCTOS */
#productos{
	background: url('../assets/products_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#product_info{
	position: relative;
	width: 40%;
	display: inline-block;
	left: 0px;
	padding:0px 120px;
}
#white_line{
	position: relative;
	border-bottom: solid #fff 3px;
	width: 50%;
	margin-top: 15px;
}
#product_description{
	padding: 20px 250px 0px 0px;
}
#product_description p{
	color: #fff;
	font-family: 'IM Fell Great Primer', serif;
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 22px;
	text-align: justify;
}
#product_nav a{
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	margin: 30px 50px 0px 0px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
#product_nav a:hover{
	color: #2c1f0d;
}

#product_buy{
  width: 60%;
  text-align: center;
  margin-top: 60px;
}

.buy_button{
	font-family: 'Source Sans Pro', sans-serif;
	padding: 10px 50px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	background-color: #C08132;
}

.product_button{
	border: solid #fff 3px;
	padding: 5px 10px;
	background: transparent;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.product_button:hover{
	border: solid #fff 3px;
	padding: 5px 10px;
	background: #fff;
}
.no_lh{
	line-height: 10px !important;
}
/* PRODUCTOS */
}
/* MEDIA QUERY DE 1920px HACIA ARRIBA */


/* MEDIA QUERY DE 1550px HACIE ARRIBA */
@media (min-width: 1550px){

	.image-slide-one img
	{
	  	position: relative;
	  	width: 750px;	
	}

	.txt-slide-one
	{
		height: 300px;
		right: 200px;
		top: 200px;	
	}

	.quote-slide-two{
	position: absolute;
	width: 100%;
	bottom: 270px;
	}

	.quote-slide-two p{
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 30px;
	width: 80%;
	max-width: 700px;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: left;
	color: #165F30;
	right: 0px;
	}

	/* Slider page #3 */
.half-inleft-cont{
	position: absolute;
	width: 480px;
	height: 300px;
	top: 150px;
	right: 50px;
}
.half-inright-cont{
	position: absolute;
	width: 480px;
	height: 300px;
	top: 150px;
	left: 50px;
}
.half-top{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	width: 100%;
	height: 50%;
}
.half-top h3{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	color: #165F30;
	font-size: 40px;
	font-weight: 200;
	font-style: italic;
}
.half-inleft{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
}
.half-inright{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	float: right;
	width: 50%;
	height: 100%;
}
.half-bottom{
	position: relative;
	width: 100%;
	height: 50%;
	text-align: center;
}
.half-bottom-title{
	position: relative;
	margin: 0 auto;
	width: 480px;
	text-align: left;
}
.half-bottom-title h3{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	color: #165F30;
	font-size: 40px;
	font-weight: 200;
	font-style: italic;
}
.bar-slide-three{
	width: 100%;
	height: 6px;
	background-color: #165F30;
}
table{
	position: relative;
	width: 100%;
	margin: 0 auto;
	border: none;
}
.objt{
	position: relative;
	height: 200px;
	width: 300px;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	color: #282828;
	border: none;
}
.objt img{
	position: relative;
	margin: 0 auto;
	width: 120px;
}
.objt p{
	width: 200px;
	text-align: justify;
	font-weight: 300;
}
.objt-in{
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}


/* Slider page #3 */
}
/* MEDIA QUERY DE 1550px HACIE ARRIBA */


/* MEDIA QUERY DE 1250px HACIE ABAJO */
@media (max-width: 1250px){

	.txt-slide-one{
		height: 300px;
		overflow: scroll;
		width: 570px;
		top: 200px;	
	}

	.quote-slide-two{
	display: none;
	}

}
/* MEDIA QUERY DE 1250px HACIE ABAJO */


/* MEDIA QUERY DE 980px HACIE ABAJO */
@media (max-width: 980px){
	/* Slider Page #1 */
	.image-slide-one img
	{
	display: none;
	}
	.txt-slide-one{
		position: relative;
		text-decoration: none !important;
		margin: 0 auto;
		top:-50px;
		right: 0px;
		height: 300px;
		overflow: scroll;
		min-width: 270px;
		width: 300px;
	}
	.txt-slide-one h3{
		width: auto;
	}
	.txt-slide-one p{
		font-size: 20px;
	}

	/* Slider Page #1 */
	.image-slide-two{
		display: none;
	}
	.txt-slide-two{
		position: relative;
		text-decoration: none !important;
		margin: 0 auto;
		top:-50px;
		right: 0px;
		height: 300px;
		overflow: scroll;
		min-width: 270px;
		width: 300px;
	}
	.txt-slide-two h3{
		font-size: 45px;
	  	font-weight: 200;
	  	font-style: italic;
	  	margin: 0px 0px 10px 0px;
	  	width: 100px;
	}
	.txt-slide-two p{
		font-weight: 300;
	}
}
/* MEDIA QUERY DE 980px HACIE ABAJO */
